<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="ItaliaPizzadbEntities" connectionString="metadata=res://*/ItaliaPizzadbModel1.csdl|res://*/ItaliaPizzadbModel1.ssdl|res://*/ItaliaPizzadbModel1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-9NHQ2EU;initial catalog=ItaliaPizzadb;persist security info=True;user id=UserTest01;password=UserPassword01;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>