<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings><add name="PizzaEntities" connectionString="metadata=res://*/ItaliaPizzaModel.csdl|res://*/ItaliaPizzaModel.ssdl|res://*/ItaliaPizzaModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=Pizza;persist security info=True;user id=UserTest01;password=UserPassword01;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
</configuration>