<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="ItaliaPizzaEntities" connectionString="metadata=res://*/ItaliaPizzaModel1.csdl|res://*/ItaliaPizzaModel1.ssdl|res://*/ItaliaPizzaModel1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-9NHQ2EU\;initial catalog=ItaliaPizza;persist security info=True;user id=UserTest01;password=UserPassword01;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>