<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <connectionStrings>
    <add connectionString="Server=localhost;Database=Pizza;UserId=UserTest01;Password=UserPassword01;" name="ConnectionToSQL"/>
    <add connectionString="Data Source=localhost;Initial Catalog=Pizza;Integrated Security=True" name="SqlConnection"/>
  </connectionStrings>
</configuration>